.git
.github
.gitignore

.venv
.pytest_cache
.mypy_cache
.ruff_cache
.uv-cache

.env
.env.*

__pycache__
*.pyc

.coverage
htmlcov

.idea
.vscode

dist
build
run
*.egg-info

charts
docs
examples
gitops
tests
