.git
.github
.gitignore

.venv
.pytest_cache
.mypy_cache
.ruff_cache

.env
.env.*

__pycache__
*.pyc

.coverage
htmlcov

.idea
.vscode

dist
build
run
*.egg-info

deploy
infrastructure
kubernetes
scripts
tests