# Virtual environments
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Packaging
*.egg-info/
build/
dist/

# Test / Coverage
.pytest_cache/
.coverage
htmlcov/
.run/

# Static analysis
.mypy_cache/
.ruff_cache/

# macOS
.DS_Store

# Environment variables
.env

# Helm dependencies
charts/*/charts/

# Helm cache
*.tgz

# SQLite
*.db
*.sqlite
*.sqlite3